APScheduler==3.6.3
cachetools==4.2.2
certifi==2025.1.31
charset-normalizer==3.4.1
configparser==7.2.0
idna==3.10
python-telegram-bot==13.7
pytz==2025.1
redis==5.2.1
requests==2.32.3
six==1.17.0
telegram==0.0.1
tornado==6.4.2
tzlocal==5.3.1
urllib3==1.26.18
